<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @@version v3.2.0
* @@link https://coreui.io
* Copyright (c) 2020 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">
<head>
	<base href="./">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="Bootstrap Admin Template">
	<meta name="author" content="Łukasz Holeczek">
	<meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
	<title>Bootstrap Admin Template</title>
	<link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!-- Main styles for this application-->
	<link href="~/css/style.css" rel="stylesheet">
	@*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">*@
	<link href="~/lib/@@coreui/chartjs/dist/css/coreui-chartjs.css" rel="stylesheet">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show bg-gray-200">

	<!-- APP-HEADER-->
	<partial name="_app-header" />
	<!-- /APP-HEADER-->
	@*<partial name="_CookieConsentPartial" />*@

	<div class="app-body">
		<div class="sidebar">

			<!-- SIDEBAR-NAV -->
			<partial name="_sidebar-nav" />
			<!-- /SIDEBAR-NAV -->

			<button class="sidebar-minimizer brand-minimizer" type="button"></button>
		</div>
		<main class="main">

			<!-- VIEW-BREADCRUMBS -->
			@RenderSection("Breadcrumbs", required: false)
			<!-- /VIEW-BREADCRUMBS -->

			<div class="container-fluid">

				<!-- VIEW-STYLES -->
				@RenderSection("Styles", required: false)
				<!-- /VIEW-STYLES -->

				<div class="animated fadeIn">

					<!-- VIEW-CONTENT -->
					@RenderBody()
					<!-- /VIEW-CONTENT -->
				</div>

				<!-- VIEW-MODALS -->
				@RenderSection("Modals", required: false)
				<!-- /VIEW-MODALS -->
			</div>
		</main>

		<!-- ASIDE-MENU -->
		@*<partial name="_aside-menu" />*@
		<!-- /ASIDE-MENU -->
	</div>

	<footer class="c-footer">
		<div><a href="https://coreui.io">CoreUI</a> &copy; 2020 creativeLabs.</div>
		<div class="ml-auto">Powered by&nbsp;<a href="https://coreui.io/">CoreUI</a></div>
	</footer>

	<!-- Bootstrap and necessary plugins-->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/lib/pace-progress/pace.min.js"></script>
	<script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
	<script src="~/lib/@@coreui/coreui/dist/js/coreui.min.js"></script>
	<!-- Plugins and scripts required by the views -->
	@RenderSection("Scripts", required: false)
</body>
</html>